{% extends "boilerplate.html" %}
{% block title %}Proof Complexity Zoo{% endblock %}
{% block body %}
    <h1>Proof Complexity Zoo</h1>
    <h2>Diagrams</h2>
    <ul>
      <li><a href="zoo-clean.pdf">Minimal diagram</a></li>
      <li><a href="zoo-raw.pdf">Raw relations</a> (for debugging purposes)</ul>
    </ul>
    <div style="float:right;">
    {% filter strip_svg_header %}
    {% filter visible_dots %}
      {% include "build/zoo-clean.svg" %}
    {% endfilter %}
    {% endfilter %}
    <br>
    {% include "legend.svg" %}
    </div>
    <h2>Proof Systems</h2>
    <ul>
      {% for ps,v in proofsystems.items() %}
      <li>
        <a href="{{ps}}.html">
          {{v.longname}}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2>Formulas</h2>
    <ul>
    {% for f,v in formulas.items() %}
      <li>
        <a href="{{f}}.html">
          {{v.longname}}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2>References</h2>
    <ul>
    {% for p,v in papers.items() %}
      <li>
        <a href="{{v.url}}">
          {{v.title}}
        </a>
      </li>
    {% endfor %}
    </ul>
{% endblock %}
