{% extends "boilerplate.html" %}
{% block title %}All about {{ ps1 }}{% endblock %}
{% block body %}
    <h1>All about {{proofsystems[ps1].longname}}</h1>
    <h2>Proof Systems</h2>
    <ul>
    {% for rel in relations %}
      <li>{{proofsystems[rel.ps1].longname}} {{rel.str}}
        <a href="{{rel.ps2}}.html">
          {{proofsystems[rel.ps2].longname}}
        </a>
      </li>
      {{ reference.reference(rel.source) }}
    {% endfor %}
    </ul>
    <h2>Formulas</h2>
    <ul>
    {% for cp in complexities %}
      <li>The size complexity of
        <a href="{{cp.f}}.html">
          {{formulas[cp.f].longname}}
        </a>
        in {{proofsystems[cp.ps].longname}} is {{cp.id}}</li>
        {{ reference.reference(cp.source) }}
    {% endfor %}
    </ul>
{% endblock %}
